body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/bratislava.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 160px 0;
  text-align: center;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  background: white;
  color: #272044;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 80px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  background-image:
    linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)),
    url("/images/old-town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 60px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin: 0 18px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 18px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0 18px;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}
