body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #f8f8f8;
}

.text-center {
  text-align: center;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 40px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.embed-video {
  width: 100%;
  aspect-ratio: 16/9;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 20px 30px;
}
.btn {
  background-color: #462cb3;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/bratislava.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 160px 0;
  text-align: center;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  background: white;
  color: #272044;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 80px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main h2 {
  color: #272044;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  color: #272044;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  color: #272044;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main h5 {
  color: #272044;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main p {
  color: #272044;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}

.gallery {
  padding: 30px 0;
}

footer {
  background-image:
    linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)),
    url("/images/old-town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 0 80px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .grid-3-columns {
    grid-template-columns: 1fr;
  }
  .responsive {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
